
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive;
}

.container {
  max-width: 700px;
  width: 100%;
  padding: 25 30px;
}

.container .title {
  font-size: 25px;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 50px;
  background: #d1202c;
}

.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 15px 15px 0;
}

form .user-details .input-box {
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0 15px;
  font-size: 16px;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  border-color: #d1202c;
}

.container form .buttons {
  display: flex;
  justify-content: space-between;
}

form .buttons .cancel-button,
form .buttons .submit-button {
  width: calc(50% / 2 - 10px);
}

form .buttons .submit-button input {
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  background: #11bf14;
}

form .buttons .submit-button input:hover {
  background: #0f9d12;
}

form .buttons .cancel-button input {
  height: 100%;
  width: 100%;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 8px;
  background: #d1202c;
}

form .buttons .cancel-button input:hover {
  background: #b31a2b;
}


@media (max-width: 584px) {
  .container form .user-details .input-box {
    margin-bottom: 10px;
    width: 100%;
  }

  .container form .buttons {
    display: block;
  }

  form .buttons .cancel-button,
  form .buttons .submit-button {
    width: 100%;
    margin: 5px;
  }


}


/* table {
  border-collapse: collapse;
  width: 100%;
}

.form-table {
  width: 90%;
  margin: 20px auto;
} */

/*Form ---------------*/

/* #name,
#surname,
#email,
#telephone {
  display: block;
  margin-right: 10px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
}


form {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}


h1 {
  text-align: center;
} */



/*Form table*/
/* .form-table {
  border: none;
}

.form-table th,
.form-table td {
  padding: 10px;
  border: none;
}

.form-table th {
  text-align: left;
  padding-bottom: 0;
}


.required:after {
  content: " *";
  color: red;
} */

/*
        ----------------------------*/

/*Images --------------------*/
img {
  width: 49%;
}

/* Create three columns of images */
/* .row {
  display: flex;
}


.column {
  float: left;
  padding: 5px;
}



.row::after {
  content: "";
  clear: both;
  display: table;
}

#description {
  margin-top: 0;
  border: 2px solid rgb(209, 6, 6);
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  text-align: justify;
  font-family: cursive
}

.images {
  border-bottom: 1px solid black;
}

#exclamation-mark {
  font-size: 50px;
  color: rgb(209, 6, 6);
  text-align: center;
  pointer-events: none;
}

.desc-row {
  display: grid;
  grid-template-columns: 2% 98%;
  align-items: center;
}

.desc-column {
  margin: 1%;
} */

/*---------------------*/

/*Specifications ----------------------*/
h2 {
  text-align: center;
}

/* #koloni {
  justify-content: center;
  align-items: center;
}

#select {
  width: 100px;
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#select:hover {
  border-color: #999;
}

#addBtn {
  margin-top: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  width: 27px;
  height: 27px;
  font-weight: bold;
}

@keyframes buttonClickAdd {
  from {
    background-color: #4CAF50;
    scale: 1;
  }

  to {
    background-color: #45a049;
    scale: 0.9;
  }
}

#addBtn:active {
  animation: buttonClick 0.5s;
}

#addBtn:hover {
  background-color: #45a049;
}

.openingDireciton {
  margin-top: 10px;
}


@keyframes buttonClickRemove {
  from {
    scale: 1;
  }

  to {
    scale: 0.9;
  }
}

#removeBtn:active {
  animation: buttonClickRemove 0.5s;
}


input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
} 

.hingesNumber2 input,
.hingesNumber3 input {
  width: 40%;
  display: inline-block;
  margin-right: 5px;
}

.count {
  font-weight: bold;
  margin-bottom: 5px;
}

.color select {
  width: auto;
}

#removeBtn {
  padding: 5px 10px;
  background-color: #e03333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#removeBtn:hover {
  background-color: #c02929;
}

.above60 {
  margin: 10px;
}

.under60 {
  margin: 10px;
} */

/*-------------------------------------*/


#submitBtn {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  float: inline-end;

}

#submitBtn:hover {
  background-color: #45a049;
}

#cancelBtn {
  padding: 5px 10px;
  background-color: #e03333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;

}

#cancelBtn:hover {
  background-color: #c02929;
}



#notes {
  margin-top: 10px;

  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 90%;
  display: block;

}
