.hinges-selector {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    gap: 10px;
}

.hinges-option {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.hinges-option.selected {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}