html {
  font-size: 16px;
}

body {
  background: #ffffff;
  line-height: 26px;
  margin: 0;
}

.submit-btn {
  padding: 15px 50px;
  border-radius: 10px;
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .submit-message {
    width: 125px;
    margin-left: 200px;
  }
}

/* This is a checkbox
Could you make it bigger size? */
#gdpr {
  float: inherit;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-width: 2px;
}

